

/*
  ========================================
 Footer Notes / Content 👍 👋 🎉 🚀
  ========================================
*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/*
  ========================================
 Button / Icon 👍 👋 🎉 🚀
  ========================================
*/
.btnIcon {
  border-radius: 50%;
  border-color: blueviolet;
  color: blueviolet;
}